.content{
    width: 1300px;
    margin: 0 auto;
}
#info_p{
    margin-top: 50px;
    font-weight: 900;
    font-size: 13px;
    color: rgb(75, 74, 74);
    padding: 17px 0;
}

/*좌측 aside*/
.select_Bar{
    position: sticky;
    top: 150;
    margin-top: 100px;
    float: left;
}
.select_Bar > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.select_Bar > div > ul > li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.select_Bar > div > ul > li a:hover:not(.active) {
    background-color: orange;
    color: white;
}
.active {
    background-color: rgb(255, 201, 101);
    color: white;
}

/*이용절차안내*/
.steps{display: flex;}
.steps > h3{margin-left: 10px;}
.steps > div{
    margin: 15px 15px;
    padding: 7px 25px;
    width: 300px;
    height: 100px;
    border: 1px solid darkgray;
    border-radius: 30px;
}
.steps > div > h2 {
    font-size: 30px;
    color: darkgray;
}
.steps > div > h2 > strong{
    font-size: 20px;
    color: black;
}
.steps > div > div{display:flex;}

/*이용 동의 안내*/
.agree{
    padding: 20px 20px;
    border-radius: 20px;
    background: rgb(230, 228, 228);
    width: 1200px;
    margin: 20px 0;
}
.agree > h3{padding: 10px;}
.agree > p{padding: 10px;}
.checklist{
    border-radius: 30px;
    padding:40px;
    background: white;
}
.checklist > ul > li{
    list-style-type: disc;
}
.check_radio_Btn{padding: 10px;}
.whiteboard{
    border-radius: 20px;
    padding:40px;
    background: white;
}
.whiteboard > ul > li {
    font-size: 16px;
}
.whiteboard > ul > li > span{
    width: 500px;
}
.whiteboard > input{
    border: 0px;
    border-bottom: 1px solid gray;
    width: 200px;
}
.whiteboard > ul > li > input{
    margin-left: 20px;
    border: 0px;
    border-bottom: 1px solid gray;
    height: 45px;
    width: 300px;
}
/*저장버튼*/
.submit_Btn {
    font-weight: 900;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(255, 166, 0);
}
.submit_Btn:hover {
    background-color: rgb(200, 131, 1);
}
.submit_Btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#forBtn{
    text-align: center;
    margin: 20px 0;
}
/*자주하는 질문*/
.content2{
    height: 600px;
    width: 1300px;
    margin: 0 auto;
}
.question {
    margin-bottom: 5px;
    display: flex;
    font-weight: 600;
    padding: 5px 15px;
    height: 35px;
    font-size: 18px;
    width: 900px;
    border-bottom: 1px solid gray;
}
.question p{
    padding: 7px 10px;
}
.answer {
    width: 950px;
    background-color: rgb(223, 221, 221);
    border-radius: 20px;
    display: none;
    margin-left: 25px;
    padding: 10px 15px;
    height: 35px;
    font-size: 18px;
}
.answer div {display: flex;}
.answer p{
    color: rgb(58, 58, 58);
    font-size: 15px;
    font-weight: 700;
    padding: 7px 10px;
}

@media (max-width: 400px) {
    .select_Bar {
        display: none;
    }
    #info_p{
        margin-top: 15px;
        font-size: 13px;
        padding: 13px 10px;
    }
    .content2{
        padding: 0;
        width: 355px;
    }
    .question {
        margin-bottom: 5px;
        display: flex;
        font-weight: 600;
        padding: 5px 0 0 5px;
        height: 35px;
        font-size: 13px;
        width: 100%;
        border-bottom: 1px solid gray;
    }
    .answer {
        height: auto;
        width: auto;
        background-color: rgb(223, 221, 221);
        border-radius: 20px;
        display: none;
        margin-left: 25px;
        margin-right: 10px;
        padding: 10px 15px;
        font-size: 11px;
    }
    .answer img {display: none;}
    .steps{display: block;}
    .steps > h3{margin-left: 10px;}
    .steps > div{
        margin: 15px 15px;
        padding: 7px 25px;
        width: 300px;
        height: 100px;
        border: 1px solid darkgray;
        border-radius: 30px;
    }
    .agree {
        padding: 12px;
        margin: 5px;
        width: 340px;
    }
    .whiteboard > ul > li > input {
        width: 200px;
    }
    #forBtn{
        width: 200px;
        text-align: left;
        margin-left: 130px;
    }
    #check_hr{width: 350px;}
    .content{width: auto;}
}